# OSX
#
.DS_Store

*.iml
*.patch
.classpath
.DS_Store
.idea
.metadata
.project
.settings
RemoteSystemsTempFiles

**/.classpath
**/.project
**/.settings
**/bin
**/target
**/C:
**/.checkstyle

**/hs*.log
**/replay*.log

# Ansible
.galaxy

# Front end
**/node_modules
**/node
bundle.js
npm-debug.log
